.header {
    padding: 0;
    background-color: $white;
    color: $white;

    .header-logo {
        position: relative;
        text-align: center;

        a {
            display: block;
            padding: 10px 0;

            img {
                width: 250px;
            }
        }
    }
}