<html>
    <body>
        <p>Tên: {{ name }}</p>
        <p>Số điện thoại: {{ phone }}</p>
        <p>Dịch vụ: {{ contents }}</p>
        <p>This e-mail was sent from a contact form on [{{ get_setting('siteName') }}]</p>
    </body>
</html>