
.category-list-items {
    padding-top: 50px;
    
    .news-item {
        .box-image {
            overflow: hidden;
            padding: 25px;

            img {
                border-radius: 50%;
                height: 225px;

                @media only screen and (max-width : 768px) {
                    height: auto;
                }
            }
        }

        .box-text-inner {
            font-family: $arimo;

            a {
                color: $black;
                font-size: 17px;
                display: block;
                padding: 10px 0;
                text-transform: uppercase;
                min-height: 104px;

                &:hover {
                    text-decoration: none;
                }

                @media only screen and (max-width : 768px) {
                    font-size: 19px;
                    min-height: auto;
                }
            }

            p {
                font-size: 15px;
                color: $black;
                min-height: 70px;

                @media only screen and (max-width : 768px) {
                    font-size: 17px;
                }
            }
        }
    }
}