
.category-list-items {
    padding-top: 50px;
    
    .news-item {
        .box-image {
            border-radius: 50%;
            overflow: hidden;
            background: #f7e9dc;
        }

        .box-text-inner {
            font-family: $arimo;

            a {
                color: $black;
                font-size: 17px;
                display: block;
                padding: 10px 0;
                text-transform: uppercase;

                &:hover {
                    text-decoration: none;
                }
            }

            p {
                font-size: 14px;
                color: $black;
            }
        }
    }
}