<!-- Begin header -->
<div class="wrapper-container header d-none hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header-logo">
                    <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                        <img alt="{{ get_setting('siteName') }}" src="{{ asset('assets/images/logo.png') }}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End header -->