<div class="col-lg-4 d-none hidden-xs hidden-sm" id="sidebar">
    <div class="row">
        <div class="col-md-12">
            <div class="sidebar">
                {{ render(controller(
                    'AppBundle:News:listNewsByCategory', { 'categoryId': 1, 'template':'news/prices.html.twig', 'title':'Dịch vụ làm đẹp tại Hải Beauty' }
                )) }}
                {{ render(controller(
                    'AppBundle:News:listImagesActivitiesSidebar'
                )) }}
                {{ include('widgets/hotNews.html.twig') }}
            </div>
        </div>
    </div>
</div>