<div class="social-share">
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <amp-addthis width="320" height="63"  data-pub-id="ra-51488205306afdd5" data-widget-id="of26" data-widget-type="inline"></amp-addthis>
</div>
<div class="clearfix"></div>