<section class="section dark testimonial">
    <div class="bg section-bg fill bg-fill bg-loaded"></div>

    <div class="section-content relative container">
        <div class="row">
            <div class="col col-12 col-md-12">
                <div class="col-inner">
                    <h1 class="title-section text-white">CẢM NHẬN KHÁCH HÀNG</h1>
                    <span class="text-center block-underline"></span>

                    <div class="slider-wrapper">
                        <div id="image-gallery-3">
                            {% for row in testimonial %}
                                <div class="icon-box testimonial-box">
                                    <div class="icon-box-img testimonial-image circle">
                                        <img
                                            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                            alt="{{ row.getName() }}"
                                            srcset="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_385_394') }}"
                                            />
                                    </div>
                                    <div class="icon-box-text">
                                        <div class="testimonial-text">
                                            <p>“{{ row.getComments() }}”</p>
                                        </div>
                                        <div class="testimonial-meta">
                                            {{ row.getName() }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>